<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Emsidi </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('Cabang')"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Tambah Cabang Emsidi</h2>
                <br>
                <form th:action="@{/cabang/add}" th:object="${cabang}" method="POST">
                    Nama Cabang : <br>
                    <input required class="form-control" type="text" name="namaCabang"/>
                    <br><br>

                    Alamat : <br>
                    <input required class="form-control" type="text" name="alamatCabang"/>
                    <br><br>

                    Nomor Telepon : <br>
                    <input required class="form-control" type="text" name="noTeleponCabang"/>
                    <br><br>

                    Waktu Buka : <br>
                    <input required class="form-control" type="time" name="waktuBuka" />
                    <br><br>

                    Waktu Tutup : <br>
                    <input required class="form-control" type="time" name="waktuTutup" />
                    <br><br>

                    <a class="btn btn-primary" th:href="@{/cabang/add/}" value="addRow">Add Row</a>

                    <input type="hidden" th:field="*{noCabang}" />
                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="menu, iterationStatus : ${listMenuTemp}">
                                    <td>
                                        <div class="form-group">
                                            <!--<select th:field="*{listMenu[__${iterationStatus.index}__]}" name="menu" id="menu">-->
                                            <select th:field="*{listMenu}" name="menu" id="menu">
                                                <option th:each="menu, iterationStatus : ${listMenu}"
                                                        th:value="${menu.noMenu}"
                                                        th:text="${menu.namaMenu}"
                                                        th:selected="${menu.namaMenu}"
                                                ></option>
                                            </select>
                                        </div>
                                        <!--<div class="form-group">
                                            <select th:field="*{listMenu[__${iterationStatus.index}__].namaMenu}">
                                                <option th:each="listMenu, iterationStatus : ${listMenu}"
                                                        th:value="${listMenu[__${iterationStatus.index}__].noMenu}"
                                                        th:text="${listMenu[__${iterationStatus.index}__].namaMenu}"
                                                </option>
                                            </select>
                                        </div>-->
                                    </td>
                                    <td>
                                        <a class="btn btn-danger" th:href="@{/cabang/add/}" value="deleteRow">Delete</a>
                                    </td>
                                </tr>
                            </tbody>

                        </table>

                    <button class="btn btn-primary" type="submit">Submit</button>
                    <a class="btn btn-primary" href="/">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>