<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<div class="container-fluid">
    <div class="row d-flex align-items-center flex-column justify-content-center h-100">
        <h2>Hello!</h2>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Reset Password</h2>
                    <div th:if="${param.error}">
                        <span style="color: red">Invalid password</span>
                    </div>
                    <form th:action="@{/user/update_password}" method="POST">
                        <div class="row form-group">
                            <label class="col-sm-4">Password Lama:</label>
                            <input type="password" class="col-sm-8 form-control input-sm" name="password">
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4">Password Baru:</label>
                            <input type="password" class="col-sm-8 form-control input-sm" name="newPassword" value="newPassword">
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4">Konfirmasi Password Baru:</label>
                            <input type="password" class="col-sm-8 form-control input-sm" name="confirmNewPassword">
                        </div>
                        <div class="row form-group">
                            <button type="submit" class="btn btn-primary">Sign In</button>
                        </div>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>