<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title> Emsidi </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('Cabang')"></nav>
<div class="container">
    <h2>Daftar Seluruh Cabang Emsidi</h2>
    <br>
    <div class="card-body">
        <div th:if="*{listCabang.size() != 0}">
            <table class="table">
                <thead>
                <tr>
                    <th>No</th>
                    <th>Nomor Cabang</th>
                    <th>Nama Cabang</th>
                    <th>Alamat Cabang</th>
                    <th>Nomor Telepon Cabang</th>
                    <th>Waktu Buka</th>
                    <th>Waktu Buka</th>
                    <th>Lihat</th>
                    <th>Ubah</th>
                    <th>Hapus</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cabang, iterationStatus : ${listCabang}"
                    th:style="${iterationStatus.even} ? 'font-weight:bold;'">
                    <td th:text="${iterationStatus.count}"></td>
                    <td th:text="${cabang.noCabang}"></td>
                    <td th:text="${cabang.namaCabang}"></td>
                    <td th:text="${cabang.alamatCabang}"></td>
                    <td th:text="${cabang.noTeleponCabang}"></td>
                    <td th:text="${cabang.waktuBuka}"></td>
                    <td th:text="${cabang.waktuTutup}"></td>
                    <td>
                        <a class="btn btn-primary" th:href="@{/cabang/view(noCabang=${cabang.noCabang})}">Detail</a>
                    </td>
                    <td>
                        <a class="btn btn-primary" th:href="@{/cabang/update/} + ${cabang.noCabang}">Update</a>
                    </td>
                    <td>
                        <a class="btn btn-primary" th:href="@{/cabang/delete/} + ${cabang.noCabang}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--<div class="justify-content-center">
            <p th:text="'Nomor Cabang : ' + ${cabang.noCabang}"></p>
            <p th:text="'Nama Cabang : ' + ${cabang.namaCabang}"></p>
            <p th:text="'Alamat Cabang : ' + ${cabang.alamatCabang}"></p>
            <p th:text="'Nomor Telepon Cabang : ' + ${cabang.noTeleponCabang}"></p>
            <p th:text="'Waktu Buka : ' + ${cabang.waktuBuka}"></p>
            <p th:text="'Waktu Tutup : ' + ${cabang.waktuTutup}"></p>
            <br>
            <a class="btn btn-primary" th:href="@{/cabang/view(noCabang=${cabang.noCabang})}">Lihat Detail
                Cabang</a>
            <a class="btn btn-primary" th:href="@{/cabang/update/} + ${cabang.noCabang}">Update Cabang</a>
            <a class="btn btn-primary" th:href="@{/cabang/delete/} + ${cabang.noCabang}">Delete Cabang</a>
        </div>-->
    </div>
    <div th:unless="*{listCabang.size() != 0}">
        <h2 th:text="'Tidak ada cabang'"></h2>
    </div>
    <br>
    <a class="btn btn-primary" href="/">Home</a>
</div>
<footer th:replace="fragments/footer :: footer('Cabang')"></footer>
</body>
</html>